{% extends "shop/base.html" %}
{% load static %}
{% load loader %}

{% block header %}{% include "inc/_header.html" %}{% cart_list %}{% endblock %}

{% block content %}
    <div class="main_div">
        <div class="news_div">
            {% include "shop/article.html" %}
            {% include "inc/pagination.html" %}
        </div>
        <div class="filter_div">
            {% include "inc/filter.html" %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% include "inc/_footer.html" %}{% endblock %}